.top-row {
  margin: 1.4rem;
}

.text-style {
  font-size: 1.2rem;
}

.text-style-header-JS {
  font-size: 1.8rem;
  background: -webkit-linear-gradient(yellow, gray);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-style-header-Py {
  font-size: 1.8rem;
  background: -webkit-linear-gradient(yellow, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-style-header-AWS {
  font-size: 1.8rem;
  background: -webkit-linear-gradient(#fa7a08, gray);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-card {
  padding: 0;
  border-radius: 3vh;
  background-color: white;

  /* Prevent bug of text overflowing to bottom */

  max-height: 11rem;
  min-width: 20rem;

  margin: 1rem;
  transition: 0.5s;
}

.project-card:hover {
  transition: 0.5s;
  background-color: whitesmoke;
}

.project-image {
  min-height: 11rem;
  min-width: 10rem;
  max-height: 11rem;
  max-width: 10rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 0.2px solid silver;
}

.project-name-font {
  font-family: Candara;
  font-weight: bold;
  font-size: 1.2rem;
}
