.top-row {
  margin: 1.4rem;
}

.text-style {
  font-size: 1.2rem;
}

.text-style-header-JS {
  font-size: 1.8rem;
  background: -webkit-linear-gradient(yellow, gray);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-style-header-Py {
  font-size: 1.8rem;
  background: -webkit-linear-gradient(yellow, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-style-header-AWS {
  font-size: 1.8rem;
  background: -webkit-linear-gradient(#fa7a08, gray);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-card {
  margin: 1rem;
  background-color: whitesmoke;
  height: 16rem;
  border-radius: 1.2rem;
}
.project-card:hover {
  border: 0.1rem solid silver;
}
